<% unless @result[:error].present? %>
  <% @tiles.each do | tile | %>
    <ul>
      <li>Name: <%= tile[:name] %></li>
      <li>Height: <%= tile[:height] %></li>
      <li>Width: <%= tile[:width] %></li>
      <li>Bare surface: <%= tile[:bare_surface] %></li>
    </ul>
    <hr>
  <% end %>
<% else %>
  <%= @result[:error] %>
See request params example here: <%= @result[:params_example] %>
<% end %>

